#navbar {
	text-align: right;
}

html, body, #coverpage {
	height: 100%;
}

body {
  padding-top: 30px;
}

#portfolio > img {
	padding: 10px;
}

#coverpage{
	width: 100%;
	z-index: -2;
	position: relative;
	background-color: purple;
	text-align: center;
}

#name{
	font-size: 5em;

	width: 75%;
	position: fixed;
	left: 50%;
	margin-left: -37.5%;

	top: 40%;

	z-index: 1;
}


@media screen and (max-width: 570px){
	#name{
		font-size: 12vw;
	}
}


#content {
	z-index: 10;
	background-color: grey;
}

#about, #portfolio, #contactme{
	min-height: calc(100vh - 30px);
	text-align: center;
}

#about {
	background-color: blue;
}

#portfolio{
	background-color: gold;
}

#port-img-contianer{
	display: inline-block;
	padding-left: 4%;
	padding-right: 4%;
}

.port-img {
	padding: 7px;
}

#contactme{
	background-color: red;
}

#form {
	text-align: left;
}

.bg {
	position:fixed;
	width:100%;
}

.inequality {
	color: red;
	font-weight: bold;
}